<div class="bg-white rounded shadow-sm border-0 ml-2 mt-2 d-flex flex-column align-items-center" style="height: 200px; width: 60px;  z-index: 3">
  <span class="p-1">
    <small>
      {{ maximumValue }} {{ unit }}
    </small>
  </span>
  <div class="flex-grow-1" style="width: 14px; background: linear-gradient(180deg, #df3615 0%, #ee732e 100%)">
  </div>
  <div class="flex-grow-1" style="width: 14px; background: linear-gradient(180deg, #ee732e 0%, #80B2A9 100%)">
  </div>
  <div class="flex-grow-1" style="width: 14px; background: linear-gradient(180deg, #80B2A9 0%, #008198 100%)">
  </div>
  <div class="flex-grow-1" style="width: 14px; background: linear-gradient(180deg, #008198 0%, #0C2251 100%)">
  </div>
  <span class="p-1">
    <small>
      {{ minimumValue }} {{ unit }}
    </small>
  </span>
</div>
