<div class="bg-gradient p-3" style="min-height: 100%">
  <div class="container" style="max-width: 720px">
    <div class="row mb-3">
      <div class="bg-white shadow-sm rounded-speech-bubble-left p-3 w-100">
        <div class="w-100" *ngIf="isPlantSensor() | async; then plantSensorBlock; else climateSensorBlock"></div>
      </div>
      <div class="speech-bubble-triangle-left"></div>
    </div>
    <div class="row mb-3 pt-3 pb-3 text-white">
      Hier auf Prosper III versuchen das Quartiersmanagement und die HRW die Lebensqualität nachhaltig zu steigern. Dazu
      haben wir einige Hochbeete aufgebaut und planen weitere Aktionen um das Mikroklima auf dem Roten Platz zu
      verbessern. Um unseren Fortschritt zu überwachen und die Pflanzen gesund zu halten haben wir einige Sensoren
      installiert.
    </div>
    <div class="row mb-3">
      <div class="bg-white shadow-sm rounded-speech-bubble-right p-3 w-100">
        <div class="w-100" *ngIf="isPlantSensor() | async; then plantSensorBlock2; else climateSensorBlock2"></div>
      </div>
      <div class="speech-bubble-triangle-right ml-auto"></div>
    </div>
    <div class="row mb-3 pt-3 pb-3 text-white">
      <span>
        Alle Erhobenen Daten stellen wir auch über eine offene Schnittstelle zur Verfügung. Die Dokumentation und
        weitere technische Details dazu sind <a [routerLink]="['api-doc']" class="text-white"><u>hier</u></a> abrufbar.
      </span>
    </div>
  </div>
</div>

<ng-template #plantSensorBlock>
  <h2>Hallo!</h2>
  <span>Ich bin ein Bewässerungssensor und überwache die Pflanze in diesem Hochbeet. </span>
  <span *ngIf="numberOfPlantsRequiringIrrigation !== undefined">
    <span>
      Aktuell müssen auf dem roten Platz
      {{ numberOfPlantsRequiringIrrigation === 0 ? "keine" : numberOfPlantsRequiringIrrigation }} Beet{{
        numberOfPlantsRequiringIrrigation === 1 ? "" : "e"
      }}
      bewässert werden.
    </span>
  </span>
  <p3m-sensor-map
    [devicesWithValues]="plantSensorDeviceWithValues$ | async"
    [showSensorValuesLayer]="false"
    [interactive]="false"
    class="rounded overflow-hidden mt-3 w-100"
    style="height: 300px"
  ></p3m-sensor-map>
  <div class="d-flex justify-content-end">
    <button class="btn btn-light p-2 mt-3" type="button" [routerLink]="['plants']">
      <span class="pl-2">Mehr erfahren...</span>
    </button>
  </div>
</ng-template>

<ng-template #climateSensorBlock>
  <h2>Hallo!</h2>
  <span> Ich bin ein Klimasensor und überwache die Temperatur, Luftfeuchtigkeit und Helligkeit in meiner Nähe.</span>
  <span *ngIf="averagedMeasuredTemperature != undefined && averagedWeatherTemperature != undefined">
    Die Temperatur auf dem roten Platz betrug in den letzten 24 Stunden im Schnitt
    {{ averagedMeasuredTemperature | number: "1.2-2" }} °C. Das ist
    {{ averagedMeasuredTemperature - averagedWeatherTemperature | number: "1.2-2" }} °C
    {{ averagedMeasuredTemperature > averagedWeatherTemperature ? "wärmer" : "kälter" }} als im Rest des Stadtgebiets.
  </span>
  <p3m-sensor-map
    [devicesWithValues]="climateSensorDevicesWithValues$ | async"
    [showSensorValuesLayer]="false"
    [interactive]="false"
    class="rounded overflow-hidden mt-3 w-100"
    style="height: 300px"
  ></p3m-sensor-map>
  <div class="d-flex justify-content-end">
    <button class="btn btn-light p-2 mt-3" type="button" [routerLink]="['climate']">
      <span class="pl-2">Mehr erfahren...</span>
    </button>
  </div>
</ng-template>

<ng-template #plantSensorBlock2>
  <span *ngIf="averagedMeasuredTemperature != undefined && averagedWeatherTemperature != undefined">
    Die Temperatur auf dem roten Platz betrug in den letzten 24 Stunden im Schnitt
    {{ averagedMeasuredTemperature | number: "1.2-2" }} °C. Das ist
    {{ averagedMeasuredTemperature - averagedWeatherTemperature | number: "1.2-2" }} °C
    {{ averagedMeasuredTemperature > averagedWeatherTemperature ? "wärmer" : "kälter" }} als im Rest des Stadtgebiets.
  </span>
  <p3m-sensor-map
    [devicesWithValues]="climateSensorDevicesWithValues$ | async"
    [showSensorValuesLayer]="false"
    [interactive]="false"
    class="rounded overflow-hidden mt-3 w-100"
    style="height: 300px"
  ></p3m-sensor-map>
  <div class="d-flex justify-content-end">
    <button class="btn btn-light p-2 mt-3" type="button" [routerLink]="['climate']">
      <span class="pl-2">Mehr erfahren...</span>
    </button>
  </div>
</ng-template>

<ng-template #climateSensorBlock2>
  <span *ngIf="numberOfPlantsRequiringIrrigation !== undefined">
    <span>
      Aktuell müssen auf dem roten Platz
      {{ numberOfPlantsRequiringIrrigation === 0 ? "keine" : numberOfPlantsRequiringIrrigation }} Beet{{
        numberOfPlantsRequiringIrrigation === 1 ? "" : "e"
      }}
      bewässert werden.
    </span>
  </span>
  <p3m-sensor-map
    [devicesWithValues]="plantSensorDeviceWithValues$ | async"
    [showSensorValuesLayer]="false"
    [interactive]="false"
    class="rounded overflow-hidden mt-3 w-100"
    style="height: 300px"
  ></p3m-sensor-map>
  <div class="d-flex justify-content-end">
    <button class="btn btn-light p-2 mt-3" type="button" [routerLink]="['plants']">
      <span class="pl-2">Mehr erfahren...</span>
    </button>
  </div>
</ng-template>
