<div class="position-relative" style="z-index: 3" *ngIf="(selectedDevice$ | async) as device">
  <div class="bg-white rounded shadow-sm border-0 position-absolute mr-2 mt-2" style="width: 300px; right: 0; top: 0">
    <div class="modal-content border-0">
      <div class="modal-header">
        <div>
          <h5 class="modal-title">
            {{ device.name }}
          </h5>
          <small>
            <p3m-last-contact [dateString]="device?.lastContact?.timestamp"></p3m-last-contact>
          </small>
        </div>
        <button type="button" class="close" (click)="onCloseClicked()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body container border-bottom" *ngIf="useDeviceLastContact ? device?.lastContact : (measurements$ | async) as measurements">
        <h6 class="pb-2">{{ 'Messwerte vom ' + formatDate(measurements.timestamp) + ':' }}</h6>
        <table class="table table-sm table-borderless mb-0" *ngIf="measurements.sensorValues">
          <tbody>
            <tr *ngIf="measurements.sensorValues.mst as moisture">
              <td class="font-weight-bold">
                Bewässerung
              </td>
              <td class="text-right">
                {{ moisture * 100 | number: '1.2-2' }} %
              </td>
            </tr>
            <tr *ngIf="measurements.sensorValues.tmp as temperature">
              <td class="font-weight-bold">
                Temperatur
              </td>
              <td class="text-right">
                {{ temperature | number: '1.2-2' }} °C
              </td>
            </tr>
            <tr *ngIf="measurements.sensorValues.irt as irTemperature">
              <td class="font-weight-bold">
                Infrarot Temperatur
              </td>
              <td class="text-right">
                {{ irTemperature | number: '1.2-2' }} °C
              </td>
            </tr>
            <tr *ngIf="measurements.sensorValues.hum as humidity">
              <td class="font-weight-bold">
                Luftfeuchtigkeit
              </td>
              <td class="text-right">
                {{ humidity | number: '1.2-2' }} %RH
              </td>
            </tr>
            <tr *ngIf="measurements.sensorValues.bgh as brightness">
              <td class="font-weight-bold">
                Helligkeit
              </td>
              <td class="text-right">
                {{ brightness * 100 | number: '1.2-2' }} %
              </td>
            </tr>
            <tr *ngIf="measurements.sensorValues.bat as batteryVoltage">
              <td class="font-weight-bold">
                Batteriespannung
              </td>
              <td class="text-right">
                {{ batteryVoltage | number: '1.2-2' }} V
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-body d-flex flex-row justify-content-center p-2">
        <button class="btn btn-white p-2 mr-2" type="button" (click)="onEditClicked()">
          <i class="bi bi-pencil-fill"></i>
          <span class="pl-2">Bearbeiten</span>
        </button>
        <button class="btn btn-white p-2" type="button" (click)="onMoveClicked()">
          <i class="bi bi-arrows-move"></i>
          <span class="pl-2">Verschieben</span>
        </button>
      </div>
    </div>
  </div>
</div>
