<div class="modal-header">
  <h3 class="pull-left">Sensor erstellen</h3>
  <button type="button" class="close pull-right" (click)="onCloseClicked()">
    <span>&times;</span>
  </button>
</div>
<form [formGroup]="createDeviceForm" (ngSubmit)="onSubmitClicked()">
  <div class="modal-body">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" formControlName="name" />
    </div>
    <div class="form-group">
      <label for="ttnId">TTN ID</label>
      <input type="text" class="form-control" id="ttnId" disabled value="Wird bei Erstellung generiert..." />
    </div>
    <div class="form-group">
      <label for="ttnId">Latitude</label>
      <input type="number" class="form-control" id="latitude" formControlName="latitude" />
    </div>
    <div class="form-group">
      <label for="ttnId">Longitude</label>
      <input type="number" class="form-control" id="longitude" formControlName="longitude" />
    </div>
    <div class="form-group">
      <label for="qrCodeId">QR-Code ID</label>
      <input type="number" class="form-control" id="qrCodeId" formControlName="qrCodeId" pattern="[0-9]" />
    </div>
    <div class="form-group">
      <label for="ttnId">Minimaler Helligkeitsstrom</label>
      <input type="number" class="form-control" id="brightnessMin" formControlName="brightnessMin" />
    </div>
    <div class="form-group">
      <label for="ttnId">Maximaler Helligkeitsstrom</label>
      <input type="number" class="form-control" id="brightnessMax" formControlName="brightnessMax" />
    </div>
    <div class="form-group">
      <label for="ttnId">Minimaler Moisture Counter</label>
      <input type="number" class="form-control" id="moistureCounterMin" formControlName="moistureCounterMin" />
    </div>
    <div class="form-group">
      <label for="ttnId">Maximaler Moisture Counter</label>
      <input type="number" class="form-control" id="moistureCounterMax" formControlName="moistureCounterMax" />
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" [disabled]="createDeviceForm.invalid">Sensor erstellen</button>
  </div>
</form>
