<div class="modal-header">
  <h3 class="pull-left">Passwort ändern</h3>
  <button type="button" class="close pull-right" (click)="onCloseClicked()">
    <span>&times;</span>
  </button>
</div>
<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmitClicked()">
  <div class="modal-body">
    <div class="form-group">
      <label for="inputOldPassword">Altes Passwort</label>
      <input type="password" class="form-control" id="inputOldPassword" formControlName="oldPassword" />
    </div>
    <div class="form-group">
      <label for="inputNewPassword">Neues Passwort</label>
      <input type="password" class="form-control" id="inputNewPassword" formControlName="newPassword" />
    </div>
    <div class="form-group">
      <label for="inputNewPasswordConfirm">Neues Passwort (wiederholt)</label>
      <input type="password" class="form-control" id="inputNewPasswordConfirm" formControlName="newPasswordConfirm" />
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" [disabled]="changePasswordForm.invalid">
      Passwort ändern
    </button>
  </div>
</form>
