<div class="modal-header">
  <h3 class="pull-left">Sensor bearbeiten</h3>
  <button type="button" class="close pull-right" (click)="onCloseClicked()">
    <span>&times;</span>
  </button>
</div>
<form [formGroup]="editDeviceForm" (ngSubmit)="onSubmitClicked()">
  <div class="modal-body">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" formControlName="name" />
    </div>
    <div class="form-group">
      <label for="ttnId">TTN ID</label>
      <input type="text" class="form-control" id="ttnId" disabled [value]="device?.ttnId" />
    </div>
    <div class="form-group">
      <label for="ttnId">Latitude</label>
      <input type="number" class="form-control" id="latitude" formControlName="latitude" />
    </div>
    <div class="form-group">
      <label for="ttnId">Longitude</label>
      <input type="number" class="form-control" id="longitude" formControlName="longitude" />
    </div>
    <div class="form-group">
      <label for="qrCodeId">QR-Code ID</label>
      <input type="number" class="form-control" id="qrCodeId" formControlName="qrCodeId" pattern="[0-9]" />
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" [disabled]="editDeviceForm.invalid">Änderungen speichern</button>
  </div>
</form>
